<div>
  <h1><%= @game.current_player.name %> attacked <%= @game.opponent.name %>!</h1>
  <div><%= @game.player1.name %> : HP<%=  @game.player1.hp %></div>
  <div><%= @game.player2.name %> : HP<%=  @game.player2.hp %></div>

  <%if @game.over? %>
    <p><%= @game.loser.name %>: Better luck next time</p>
    <form method="GET" action='/'>
      <input type='submit' value='Restart'>
    </form>
  <% else%>
    <form method="POST" action='/back'>
      <input type='submit' value='Back'>
    </form>
  <% end %>
</div>
